body {
  background-color: #ffe6d6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px 200px;
}
h1 {
  text-align: center;
  color: #254316;
  font-size: 46px;
}
p {
  text-align: center;
  color: #316816;
}
img {
  display: block;
  margin: 0 auto;
}
small {
  display: block;
  opacity: 0.6;
  color: #254316;
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  color: #316816;
  font-weight: 400;
  margin: 0 40px;
  text-decoration: none;
}
.links a:hover {
  opacity: 0.7;
}
