body {
  background-color: #ffe6d6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  color: #254316;
}
p,
h2,
h3 {
  text-align: center;
  color: #316816;
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
}
small {
  font-size: 12px;
  display: block;
  opacity: 0.6;
  color: #254316;
  text-align: center;
}
.container {
  display: block;
  margin: 0 auto;
  min-width: 300px;
  max-width: 700px;
}
.links {
  display: flex;
  justify-content: center;
}
.links a {
  color: #316816;
  font-weight: 400;
  margin: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.links a:hover {
  opacity: 0.7;
}
@media (max-width: 700px) {
  img {
    max-width: 400px;
  }
}
